    <footer>
        <section>
            <button class="go_up" data-role="go_up"><i class="fa fa-arrow-up"></i> UP</button>
            <div class="social">
                <a class="fa fa-facebook" href="#" title="Facebook  | keywords for this"></a>
                <a class="fa fa-google-plus" href="#" title="Google Plus  | keywords for this"></a>
            </div>
        </section>

        <section></section>

        <section class="copy">
            <p>Copyright © 2014 <a href="http://www.worldnews.com" title="World news. We keep you up to date with your local news">worldnews.com</a> All rights reserved.</p>
            <p>Designed and Developed <span>in</span> <i title="România"></i> <span>by</span> <a href="http://claudiu.limban.ro" title="Web Design with HTML5, CSS3 &amp; JS">Terana Creative</a></p>
        </section>
    </footer>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ theme }}/js/script.js"></script>
</body>

</html>
