{% include 'includes/header.html' with { active_theme : utils.active_theme, active_menu : active_menu, title_part : title_part }%}

    <div class="container">
        <h1>Adăugare ţară</h1>
        <form action="adaugare-tara" method="post">

            <label>Nume (engleza)</label><input type="text" id="country" name="country"/><br>
            <label>Prescurtare</label><input type="text" id="slug" name="slug"/><br>
            <label>Nume limba lor</label><input type="text" id="country2" name="country2"/><br>
            <label>limba (ex. us,de,ro,fr etc)</label><input type="text" id="language" name="language"/><br>
            <label>Timezone</label><input id="timezone" name="timezone"/><br>

            <input type="submit" value="Adauga"/>
        </form>
    </div>

{% include 'includes/footer.html' with { active_theme : utils.active_theme } %}