<footer>
        <div class="row">
            <button class="go_up" data-role="go_up"><i class="fa fa-arrow-up"></i> UP</button>
            <div class="social">
                <a class="fa fa-facebook" href="#" title="Facebook  | keywords for this"></a>
                <a class="fa fa-google-plus" href="#" title="Google Plus  | keywords for this"></a>
            </div>
        </div>
    </footer>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ theme }}/js/script.js"></script>
</body>

</html>
