<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>Global news</title>


    <meta name="description" content="you description" />
    <meta name="keywords" content="your keywords" />


    <meta name=viewport content="width=device-width, initial-scale=1" />



    <!--   TO BE FILLED with the proper paths

    <link rel="shortcut icon"    href="img/favicon.png"       type="image/png" />
    <link rel="apple-touch-icon" href="img/favicon_touch.png" type="image/png" />

    <link rel="canonical" href="canonical adress" />
    <link rel="author" href="https://www.google.com/+ClaudiuLimban" />
    <link rel='index' title='Your Site title' href='http://www.yourSite.com/' />

    end of TO BE FILLED -->


    <link href="{{ theme }}/css/print.css" rel="stylesheet" media="print" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ theme }}/css/style.css" rel='stylesheet' media='screen' />
</head>


<body>

    <header>
        <a class="logo" href="#" title="Keywords for this">World News</a>
        <nav data-role="main_menu">
            <button><span></span><span></span><span></span></button>
            <a href="#" title="keywords for this">{{ home }}</a>
            <a href="#" title="keywords for this">{{ country }}</a>
            <a href="#" title="keywords for this">{{ about }}</a>
        </nav>
    </header>