<div class="container">
    <div class="row">
        <div class="col-xs-12 filters">
            filters:
            <div class="dropdown js_date">
                <button role="button" data-toggle="dropdown">
                    <i class="fa fa-clock-o"></i>
                    <span class="text">Choose a date</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a role="menuitem" tabindex="-1" href="#" data-value="{{ today }}">Today</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#" data-value="{{ yesterday }}">Yesterday</a></li>
                    <li><a role="menuitem" tabindex="-1" href="#" data-value="">All</a></li>
                </ul>
            </div>
            <div class="dropdown js_media">
                <button role="button" data-toggle="dropdown">
                    <i class="fa fa-link"></i>
                    <span class="text">Choose a media</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for author in authors %}
                    <li><a role="menuitem" tabindex="-1" href="#" data-value="{{ author }}">{{ author }}</a></li>
                    {% endfor %}
                    <li><a role="menuitem" tabindex="-1" href="#" data-value="">All</a></li>
                </ul>
            </div>
        </div>


        <div class="col-xs-12 news_wrapper">
            {% for article in articles %}
            <section class="news" data-raw-date="{{ article.pubdate }}" data-raw-media="{{ article.author }}">
                <h2><a href="{{ article.link }}" title="{{ article.title }}">{{ article.title }}</a></h2>
                <i class="fa fa-clock-o"></i><span class="extra">{{ article.pubdate }}</span>
                <i class="fa fa-link"></i><span class="extra">{{ article.author }}</span>
                <p>{{ article.description }}</p>
            </section>
            {% endfor %}

            <div class="empty_content">
                There are no news under this settings. Please refine your filters.
            </div>
        </div>
    </div>
</div>